body{
    background-image: url("/images/pexels-felix-mittermeier-1146134.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: aliceblue;
    background-size: auto;
    width: auto;
    height:100%
}
.heading{
    padding-left: 10%;
    padding-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-size:350%;
}
